<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azlabs-mk-function-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2cae3895-c156-47a8-85cf-e25a019045b7/resourceGroups/azlabs-mk-rg/providers/Microsoft.Web/sites/azlabs-mk-function-app</ResourceId>
    <UserName>$azlabs-mk-function-app</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azlabs-mk-function-app.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>